In [1]:
t2 = (1, )
t4 = (1, 2, 3)

In [2]:
t2 + t4

(1, 1, 2, 3)

In [3]:
t2*2

(1, 1)

In [4]:
t4*2

(1, 2, 3, 1, 2, 3)

In [5]:
dic = {'name':'홍길동', 'birthday':'1016', 'place':'청주'}

In [6]:
dic

{'name': '홍길동', 'birthday': '1016', 'place': '청주'}

In [7]:
print(dic)

{'name': '홍길동', 'birthday': '1016', 'place': '청주'}

In [8]:
print(dic['name'])

홍길동

In [9]:
print(dic.get('name'))

홍길동

In [10]:
t5 = ('a', 'b', ('ab', 'cd'))

In [11]:
t5

('a', 'b', ('ab', 'cd'))

In [12]:
print(dic.get('name'))

홍길동

In [13]:
print(dic['name'])

홍길동

In [14]:
for i in dic.keys():
    print(i)

name
birthday
place

In [15]:
dic.keys()

dict_keys(['name', 'birthday', 'place'])

In [16]:
for i in dic.keys():
    print(i)

name
birthday
place

In [17]:
lst  = list(dic.keys())

In [18]:
lst

['name', 'birthday', 'place']

In [19]:
for i in lst:
    print(i)

name
birthday
place

In [20]:
dic.values()

dict_values(['홍길동', '1016', '청주'])

In [21]:
lsti = list(dic.values())

In [22]:
dic.items()

dict_items([('name', '홍길동'), ('birthday', '1016'), ('place', '청주')])

In [23]:
for i in dic.items():
    print(i)

('name', '홍길동')
('birthday', '1016')
('place', '청주')

In [24]:
print(dic)

{'name': '홍길동', 'birthday': '1016', 'place': '청주'}

In [25]:
print('name' in dic)

True

In [26]:
print('namms' in dic)

False

In [27]:
dicList = {'name':['홍길동', '성춘향', '이몽룡', '세종대왕'], 
       'birthday':['1231','0912', '0821', '0804'], 
       'place':['청주','충주','공주','부여']}

In [28]:
print(dicList)

{'name': ['홍길동', '성춘향', '이몽룡', '세종대왕'], 'birthday': ['1231', '0912', '0821', '0804'], 'place': ['청주', '충주', '공주', '부여']}

In [29]:
print(dicList['name'])

['홍길동', '성춘향', '이몽룡', '세종대왕']

In [30]:
print(dicList.get('name'))

['홍길동', '성춘향', '이몽룡', '세종대왕']

In [31]:
for i in dicList.items():
    print(i)

('name', ['홍길동', '성춘향', '이몽룡', '세종대왕'])
('birthday', ['1231', '0912', '0821', '0804'])
('place', ['청주', '충주', '공주', '부여'])

In [32]:
for i in dicList.values():
    print(i)

['홍길동', '성춘향', '이몽룡', '세종대왕']
['1231', '0912', '0821', '0804']
['청주', '충주', '공주', '부여']

In [33]:
s1 = set([1, 2, 3, 4, 5, 6])

In [34]:
s2 = set("Hello")

In [35]:
print(s1, s2)

{1, 2, 3, 4, 5, 6} {'o', 'H', 'e', 'l'}

In [36]:
print(s2)

{'o', 'H', 'e', 'l'}

In [37]:
s3 = set([4, 5, 6, 7, 8, 9])

In [38]:
s1 & s3

{4, 5, 6}

In [39]:
s1 | s3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
s1 - s3

{1, 2, 3}

In [41]:
a, b = 10, 10.5

In [42]:
print (a, b)

10 10.5

In [43]:
a, b = b, a #오른쪽은 바뀌지 않는 값, 왼쪽이 바뀌는 값!

In [44]:
x = int(input("정수 x ="))

정수 x =31

In [45]:
if (x % 2 == 1):
    print("x는 홀수입니다.")
else:
    print('x는 짝수입니다.')

x는 홀수입니다.

In [46]:
y = int(input("정수 x="))

정수 x=22

In [47]:
if (y % 2 == 1):
    print("x는 홀수입니다.")
else:
    print("x는 짝수입니다.")

x는 짝수입니다.

In [48]:
score = int(input("점수 = "))

if(score >= 90):
    print("A학점")
elif(score >= 80):
    print("B학점")
elif(score >= 70):
    print("C학점")
elif(score >= 60):
    print("D학점")
else: print("F학점")

점수 = 98
A학점

In [49]:
sum = 0
i = 1
while(i <= 100):
    sum += i
    i += 1
print("1+2+...+100 =", sum)

1+2+...+100 = 5050

In [54]:
sum = 0
for i in range(1, 101, 4):
    sum += i
print("1+2+...+100 = ", sum)
print("1+2+...+100 = " + str(sum))

1+2+...+100 =  1225
1+2+...+100 = 1225

In [60]:
sum = 0
for i in range(0, 1001, 5):
    sum += i
print("1+2+...+100 = ", sum)
print("Final i = " + str(i))

1+2+...+100 =  100500
Final i = 1000

In [63]:
age = int(input("나이가 몇 살이니"))
if age == 19:
    print("마트에서 주류 구입 가능")
else:
    print("조금 기다려라")

나이가 몇 살이니11
조금 기다려라

In [ ]:
import turtle
t = turtle.Pen()

while True:
    direction = input("왼쪽=left, 오른쪽=right:")
    if direction == "left":
        t.left(60)
        t.forward(50)
    if direction == "right":
        t.right(60)
        t.forward(50)

왼쪽=left, 오른쪽=right:left
왼쪽=left, 오른쪽=right:right
왼쪽=left, 오른쪽=right:left
왼쪽=left, 오른쪽=right:right
왼쪽=left, 오른쪽=right:right
왼쪽=left, 오른쪽=right:left
왼쪽=left, 오른쪽=right:right
왼쪽=left, 오른쪽=right:right
왼쪽=left, 오른쪽=right:right
왼쪽=left, 오른쪽=right:left
왼쪽=left, 오른쪽=right:right
왼쪽=left, 오른쪽=right:right
왼쪽=left, 오른쪽=right:left
왼쪽=left, 오른쪽=right:right

In [2]:
x = int(input("첫 번째 정수:"))
y = int(input("두 번째 정수:"))

if(x > y):
    max = x;
else:
    max = y;
print("큰 수는", max);

첫 번째 정수:20
두 번째 정수:42
큰 수는 42

In [4]:
score = int(input("저의 학점은 ="))
if score >= 90 :
    print("합격입니다.")
    print("장학금도 받을 수 있습니다.")

저의 학점은 =95
합격입니다.
장학금도 받을 수 있습니다.

In [6]:
str = input("문자열을 입력하시오:")
length = len(str)
if length%2 == 1:
    ch1 = str[length//2]
    print("중앙글자는", ch1)
else:
    ch1 = str[length//2-1]
    ch2 = str[length//2]
    print("중앙글자는", ch1, ch2)

문자열을 입력하시오:asdfjkl;
중앙글자는 f j

In [ ]:
credits = float(input('이수한 학점수를 입력하시오:'))
gpa = float(input('평점을 입력하시오:'))

In [8]:
appleQ = input("사과의 상태를 입력하시오.:")
appleP = int(input("사과 1개의 가격을 입려하시오.:"))
if appleQ == "신선":
    if appleP < 1000:
        print("10개를 산다")
    else:
        print("5개를 산다")
else:
    print("사과를 사지 않는다")

사과의 상태를 입력하시오.:별루
사과 1개의 가격을 입려하시오.:1000
사과를 사지 않는다

In [1]:
user_dic = {'ID':['Kim', 'Hong', 'Han'], 'PW':['123', '456', '789']}
user_list = ['Kim', 'Hong', 'Han']
name = input('아이디:')
if name in user_dic.get(ID):
    password = input('패스워드 입력')
    if password == user_dic.get(PW):
        print('환영합니다.')
    else:
        print('패스워드 오류')
else:
    print('계정이 없습니다.')

아이디:Kim

NameError: name 'ID' is not defined

In [14]:
year = int(input("연도를 입력하시오.:"))
if((year % 4 == 0 and year % 100!= 0) or year % 400 == 0):
    print(year, "년은 윤년입니다.")
else:
    print(year, "년은 윤년이 아닙니다.")

연도를 입력하시오.:2014
2014 년은 윤년이 아닙니다.

In [17]:
import random;

player = input("(가위, 바위, 보) 중에서 하나를 선택하세요:");

number = random.randint(0, 2);
if(number == 0):
    computer = "가위";
elif (number == 1):
    computer = "바위";
else:
    computer = "보";
print("사용자:", player, "컴퓨터", computer)

if(player == computer):
    print("비겼음!");
elif(player == "바위"):
    if(computer == "보"):
        print("컴퓨터가 이겼음!");
    else:
        print("사용자가 이겼음!");
elif(player == "보"):
    if(computer == "가위"):
        print("컴퓨터가 이겼음!");
    else:
        print("사용자가 이겼음!");
elif(player == "가위"):
    if(computer == "바위"):
        print("컴퓨터가 이겼음!");
    else:
        print("사용자가 이겼음!");

(가위, 바위, 보) 중에서 하나를 선택하세요:보
사용자: 보 컴퓨터 보
비겼음!

In [20]:
for x in range(15):
    print("환영합니다.")

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [26]:
for name in ["철", "영", "길", "유"]:
    print("안녕!" + name, end =", ")

안녕!철, 안녕!영, 안녕!길, 안녕!유,

In [24]:
for x in[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(x, end=" ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [27]:
sum = 0
for x in range(10):
    sum = sum + x
print(sum)

45

In [28]:
for t in range(1, 101, 10):
    c = (t - 32) * 5 / 9
    print(t, "->", round(c, 2))

1 -> -17.22
11 -> -11.67
21 -> -6.11
31 -> -0.56
41 -> 5.0
51 -> 10.56
61 -> 16.11
71 -> 21.67
81 -> 27.22
91 -> 32.78

In [30]:
import math
import turtle

t = turtle.Turtle()

t.pendown()
for angle in range(360):
    y = math.sin(math.radians(angle))
    scalesX = angle
    scalesY = y*100
    t.goto (scalesX, scalesY)
t.penup()

In [3]:
i = 1
while i <=9:
    print("3*%d = %d" % (i, 3*i))
    i = i + 1

3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27

In [4]:
sum = 0
number = 1

while number <=100:
    if number %3 == 0:
        sum = sum + number
    number = number + 1
print("1부터 100사이의 모든 3의 배수의 합은 %d입니다." %sum)

1부터 100사이의 모든 3의 배수의 합은 1683입니다.

In [6]:
number = 1234
sum = 0;
while number > 0 :
    digit = number % 10
    sum = sum + digit
    number = number // 10
print("자리수의 합은 %d입니다." %sum)

자리수의 합은 10입니다.

## import random
tries = 0
number = random.randint(1, 100)
print("1부터 100 사이의 숫자를 맞추시오")
while tries < 10:
    guess = int(input("숫자를 입력하시오:"))
    tries = tries + 1
    if guess < number:
        print("낮음!")
    elif guess > number:
        print("높음!")
    else:
        break
if guess == number:
    print("축하합니다. 시도횟수=", tires)
else:
    print("정답은", number)

In [ ]:
original = input('문자열을 입력하시오:')
word = original.lower()
vowels = 0
consonants = 0

if len(original) > 0 and original.isalpha():
    for char in word:
        if char in 'aeiou':
            vowels = vowels + 1
        else:
            consonants = consonants + 1

print("모음의 개수", vowels)
print("자음의 개수", consonants)